[submodule "libraries/anim8"]
	path = libraries/anim8
	url = https://github.com/kikito/anim8.git
[submodule "Platformer/libraries/windfield"]
	path = Platformer/libraries/windfield
	url = git@github.com:a327ex/windfield.git
[submodule "Platformer/libraries/anim8"]
	path = Platformer/libraries/anim8
	url = https://github.com/kikito/anim8.git
[submodule "TopDownShooter/libraries/anim8"]
	path = TopDownShooter/libraries/anim8
	url = https://github.com/kikito/anim8.git
